@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.logoCesuca img {
    width: 80%;
    height: 40%; 
    max-width: 150px;
    align-items: flex-start;
    display: inline-block;
    padding-top: 10%;
    padding-bottom: 10%;
    min-width: 140px;
    min-height: 70px;
}

.tituloSite{    
    text-align: center; 
    font-family: 'Roboto', sans-serif; 
    font-size: larger;
    padding-left: 25%;
    padding-bottom: 0;
}

@media (max-width: 768px) {
    .tituloSite {
        font-size: larger; /* Ajuste o tamanho da fonte conforme necessário */
        padding-left: 5%;
        padding-right: 5%;
    }

    .logoTrocaSite {
        padding-left: 150px;
    }
    
    body {
        background-color: #fcfcf0;
        font-family: 'Roboto', sans-serif;
        padding-top: 10%;
        padding-left: 10%;
    }

}



.logoTrocaSite img {
    position: fixed; 
    top: 10px; 
    right: 10px; 
    width: 80px; 
    height: auto;
    transition: width 0.3s ease, top 0.3s ease, right 0.3s ease;
    z-index: 1000; 
}

.cabecalho a {
    text-decoration: none;
    color: rgb(21, 69, 114);
    font-family: 'Roboto', sans-serif;
}

.cabecalho {
    display: flex; 
    color: white;
    background-color: #c3c3c3;
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0;
    font-size: large;
} 

.logoCesuca{
    padding-left: 1%;
}

body {
    background-color: #fcfcf0;
    font-family: 'Roboto', sans-serif;
    padding-left: 10%;
}


.areaCalc {
    background-color: #e0e0dc;
    border-radius: 8px;
    margin-left: 10%;
    margin-right: auto;
    width: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column; 
    min-width: 300px;    
    
}

.areaCalc h2{
    text-align: center;
    
}


.areaCalc label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
    margin-left: 25px;
}

.areaCalc input[type="number"] {
    width: 70%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
}

.areaCalc button {
    display: flex;
    margin: 20px auto 20px auto;
    background-color: rgb(21, 69, 114);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
}

.areaCalc label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
    margin-left: 25px;
}

.areaCalc input[type="number"],
.areaCalc input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    background-color: #f9f9f9;
    color: #333;
    margin: 0 auto;
    text-align: center;
}

.areaCalc input[id="resultado"]{
    background-color: #e0e0dc;
    border:#e0e0dc;
    padding-bottom: 30px;
    font-size: 25px;
}
.areaCalc input[type="text"]:focus {
    border-color: #156995; 
}

.areaCalc button:hover {
    background-color: #104a70;
}

.conteudo {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding-top: 150px;
    padding-right: 15%;
    gap: 20px;
    padding-bottom: 100px;
}

.explicacao {
    width: 30%;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px;
}

.areaCalc,
.explicacao {
    width: 100%; 
    max-width: 500px; 
    margin: 0 auto; 
}

.explicacao img{
    width: 35%;
    align-items: center;
    display: block;
    margin: 0 auto;
}

.rodape {
    background-color: #c3c3c3;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    padding: 10px 0; 
    display: flex;
}

.rodape h2{
    color: rgb(21, 69, 114);
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding-left: 50%;
}

.rodape button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
    color: rgb(21, 69, 114);
    font-family: 'Roboto', sans-serif;
}

.seta, .seta-prof {
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

/* Classe para seta virada verticalmente para cima */
.vertical {
    transform: rotate(-90deg); /* Girar para cima */
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
}

.close, .close-alunos, .close-professor {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus,
.close-alunos:hover, .close-alunos:focus,
.close-professor:hover, .close-professor:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

